*{
    margin: 0;
    padding: 0;
}
/* pre loader start */
.pre-loader{
    position: fixed;
    border:solid #222;
    background-color: #000;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.pre-loader.loader-collapse{left: -200%;
    transition: left 0.5s ease-in-out;
    -webkit-transition:left 0.5s ease-in-out ;
        -moz-transition: left 0.5s ease-in-out;
        -ms-transition:left 0.5s ease-in-out;
        -o-transition: left 0.5s ease-in-out;
}
  /* pre loader end */

header.bgImage{
    background-image: url(../../img/header.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
header.bgImage .bgImage-sub{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: "Roboto Slab",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header.bgImage .bgImage-heading{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 550;
    margin-bottom: 2rem;
    font-family: "Montserrat",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.css-h5{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 550;
    text-shadow: 0px 7px 10px #7A7A7A;
    font-family: "Montserrat",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  /* navbar start */
  #mainNavbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
    background-color: transparent;
    transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
    -webkit-transition:padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out ;
    -moz-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
    -ms-transition:padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
    -o-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
}

#logo {
    color: #de3545;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 0.25em;
}
/* effect-shine */
#logo:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 250%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
#mainNavbar .navbar-nav .nav-item .nav-link{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #fff;
    letter-spacing: .06em;
    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 1s background-size;

}
#mainNavbar .navbar-nav .nav-item .nav-link:hover {
	background-size: 100% .1em;
}

/* Variations */
#mainNavbar .navbar-nav .nav-item .nav-link.left {
	background-position: left bottom;
}

#mainNavbar .navbar-nav .nav-item .nav-link.right {
	background-position: right bottom;
}
#mainNavbar .navbar-nav .nav-item .nav-link:hover,
#mainNavbar .navbar-nav .nav-item .nav-link.active{
    color: #b5b5b5;
}

#mainNavbar.navbar-scroll{
    background-color: #212529 !important;
    height: 4rem;
    opacity: .997;
    transition: background-color 0.8s ease-in-out;
}

/* navbar end */
/*Hadi baslayalim button link start*/
.linkCok{
    transition: all .5s ease-in-out;
}

.linkCok:hover{
    transform: scale(.97);
    -webkit-transform: scale(.97);
}
#me-about{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;

    border: 3px solid ;
    border-image:
    linear-gradient(#a767e5, #12bcfe, #44ce7b) 1;
    border-radius: 10px;
}
#me-about:hover::before {
    animation: animate_border .75s linear infinite;
}
@keyframes rotate {
    
    50% {
        border-image:
        linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b) 1;
    }
}

#me-about:hover{
    animation: pulsate 1s
    ease-in-out;
}

@keyframes pulsate {
   0%{
        box-shadow:
        0 0 25px #5ddcff,
        0 0 50px #4e00c2;
    }
}
/*social-link start*/
#social-h5{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 0.15em;
}
.social-div .link{
    text-decoration: none;
    color: #fff;
    margin:.6rem;
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(28, 28, 28) ;
    border-radius: .5rem;
    position: relative;
    transition: transform 0.4s;
}
.social-div .link:hover{transform: rotate(-45deg);}
.social-div .link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #373737;
    border-radius: .5rem;
    transition: opacity 0.2s;
}
.social-div .link::before{opacity: 0.4;}
.social-div .link:nth-last-of-type(5):hover::before{background: #bb4091;}
.social-div .link:nth-last-of-type(4):hover::before{background: #1d9bf0;}
.social-div .link:nth-last-of-type(3):hover::before{background: #25d366;}
.social-div .link:nth-last-of-type(2):hover::before{background: #0077b7;}.social-div .link:nth-last-of-type(1):hover::before{background: #0a66c2;}
.social-div .link:hover::before{
    transform: translate(-4px,-4px);
    filter: blur(10px);
}
.social-div .link i{font-size: 1.5em; transition: all 0.4s;}
.social-div .link:hover i{color:#c8c8c8; transform: rotate(45deg);}
.social-div .link:hover i.instagram{color: #bb4091;}
.social-div .link:hover i.twitter{color:#1d9bf0 ;}
.social-div .link:hover i.whatsapp{color:#25d366 ;}
.social-div .link:hover i.linkedin{color:#0077b7 ;}
.social-div .link:hover i.github{color:#0a66c2;}
/* Social-link end */

#foto-card .card{
    border: none;
}
#foto-card .card{
    text-align: center;
    flex: 1 1 35rem;
}

/*about-section*/
#about{
    border-radius: 10px;
}
/* about-profile-img start */
.container-img{
    perspective: 800px;
}
.container-img .profile-img{
    width: 15rem;
    height: 17rem;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .75s cubic-bezier(0.4,0.03,0.5,0.9);
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(15, 15, 15, 0.5);
    /* outline-offset: -8px; */
}
.container-img .profile-img .card-profile-img{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    outline-offset: 5px;
    backface-visibility: hidden;
    border-radius: 10px;
    /* opacity: .9; */
    /* transition: transform .85s; */
    /* border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.container-img .profile-img:hover{
    transform: scale(1.05);
}
/* about-profile-img end */

/*about-card start*/
.about-card{
    background-color: #d8d8d8d3;
    color: #353535;
    padding: 3.5rem .6rem 7rem .6rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.about-card .about-content .about-content-title{
    color: #292929;
    font-family: "Koulen";
}
.about-card .about-content .about-content-title:nth-child(2){
    font-weight: 500;
    font-size: 1.3rem;
    color: #353535;
}
.about-content .about-content-description{
    font-weight: 500;
}
/*about-card end*/


/* education start */
#education{
    background-color: #f0f0f0;
    border-radius: 10px;
}
.edu-card{
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
}
.edu-card .row .card-body-div .card-body .card-title h3{
    font-size: 1.5rem;
    font-family: "Montserrat",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #015e91;
    letter-spacing: .1rem;
}
.edu-card .row .card-body-div .card-body .card-title h5{
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Oswald', sans-serif;
}

.edu-card .row .card-img-div img{
    border-radius: 15px;
}
.edu-card .row .card-img-div img{
    background-size: cover;
    /* border: 5px solid; */
}
.edu-card .row .card-body-div .card-body .card-text p{
    font-weight: 600;
    font-size: 1.2rem;
    color: #018d35;
}
#education .container-fluid .container .row{
    position: relative;
}
.edu-card{
    
    transform-style: preserve-3d;
    transition: transform .75s  ease-in-out, box-shadow .75s ease-in-out;
    -webkit-transition:transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out ;
    -moz-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition:transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.edu-card:hover{
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: scale(1.03);
}

/*skills start*/
.skill-container{
    position: relative;
}
.skills-icon{
    font-weight:900;
    font-size: 1.3rem;
}
#skills-div{
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .75s cubic-bezier(0.4,0.03,0.5,0.9), box-shadow .75s ease-in-out;
    -webkit-transition:transform 0.5s cubic-bezier(0.4,0.03,0.5,0.9), box-shadow 0.5s ease-in-out ;
    -moz-transition: transform 0.5s cubic-bezier(0.4,0.03,0.5,0.9), box-shadow 0.5s ease-in-out;
    -ms-transition:transform 0.5s cubic-bezier(0.4,0.03,0.5,0.9), box-shadow 0.5s ease-in-out;
    -o-transition: transform 0.5s cubic-bezier(0.4,0.03,0.5,0.9), box-shadow 0.5s ease-in-out;
}
#skills-div:hover{
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: scale(1.33);
}
#skills-div .progressbar-title{
    color:rgb(85, 85, 85);  /* #fff */
}
#skills-div .progressbar-title h3{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
}
#skills-div .progressbar-title .language-title{
    display: flex;
    justify-content: space-between;
}
#skills-div .progressbar-title .language-title span{
    font-weight: 700;
}
#skills-div .progressbar-title .percent{
    position: absolute;
    right: 5px;
}
#skills-div .bar-container{
    background: #555;
    position: relative;
    width: 100%;
    height: .8rem;
    margin-top: 5px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
#skills-div .bar-container .progressbar{
    position: absolute;
    width: 0%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#skills-div .bar-container #progress-c-sharp{
    -webkit-animation-name: progress-c-sharp;
    animation-name: progress-c-sharp;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
#skills-div .bar-container #progress-php {
    -webkit-animation-name: progress-php;
    animation-name: progress-php;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
  }
#skills-div .bar-container #progress-mysql {
    -webkit-animation-name: progress-mysql;
    animation-name: progress-mysql;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  #skills-div .bar-container #progress-html {
    -webkit-animation-name: progress-html;
    animation-name: progress-html;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }
  #skills-div .bar-container #progress-css {
    -webkit-animation-name: progress-css;
    animation-name: progress-css;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }
  
  #skills-div .bar-container #progress-angular {
    -webkit-animation-name: progress-angular;
    animation-name: progress-angular;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
  }
  #skills-div .bar-container #progress-bootstrap {
    -webkit-animation-name: progress-bootstrap;
    animation-name: progress-bootstrap;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }
  #skills-div .bar-container #progress-jquery {
    -webkit-animation-name: progress-jquery;
    animation-name: progress-jquery;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }
  #skills-div .bar-container #progress-asp {
    -webkit-animation-name: progress-asp;
    animation-name: progress-asp;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }  
  #skills-div .bar-container #progress-js {
    -webkit-animation-name: progress-js;
    animation-name: progress-js;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }
  .progressred {
    background-color: #c0392b;
  }
  
  .progressblue {
    background-color: #1199ff;
  }
  
  .progresspurple {
    background-color: #9b59b6;
  }
  
  .progressorange {
    background-color: #ffa500;
  }
  
  .progressgreen {
    background-color: #27ae60;
  }

  @-webkit-keyframes progress-html {
    0% {
      width: 0%;
    }
    100% {
      width: 98%;
    }
  }
  @-moz-keyframes progress-html {
    0% {
      width: 0%;
    }
    100% {
      width: 98%;
    }
  }
  @keyframes progress-html {
    0% {
      width: 0%;
    }
    100% {
      width: 98%;
    }
  }

  @-webkit-keyframes progress-css {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @-moz-keyframes progress-css {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes progress-css {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @-webkit-keyframes progress-angular {
    0% {
      width: 0%;
    }
    100% {
      width: 30%;
    }
  }
  @-moz-keyframes progress-angular {
    0% {
      width: 0%;
    }
    100% {
      width: 30%;
    }
  }
  @keyframes progress-angular {
    0% {
      width: 0%;
    }
    100% {
      width: 30%;
    }
  }
  @-webkit-keyframes progress-js {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
  @-moz-keyframes progress-js {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
  @keyframes progress-js {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
  @-webkit-keyframes progress-php {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @-moz-keyframes progress-php {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes progress-php {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @-webkit-keyframes progress-c-sharp {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }
  @-moz-keyframes progress-c-sharp {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }
  @keyframes progress-c-sharp {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }
  @-webkit-keyframes progress-mysql {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @-moz-keyframes progress-mysql {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes progress-mysql {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @-webkit-keyframes progress-asp {
    0% {
      width: 0%;
    }
    100% {
      width: 30%;
    }
  }
  @-moz-keyframes progress-asp {
    0% {
      width: 0%;
    }
    100% {
      width: 30%;
    }
  }
  @keyframes progress-asp {
    0% {
      width: 0%;
    }
    100% {
      width: 30%;
    }
  }
  @-webkit-keyframes progress-bootstrap {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @-moz-keyframes progress-bootstrap {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes progress-bootstrap {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @-webkit-keyframes progress-jquery {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @-moz-keyframes progress-jquery {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes progress-jquery {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
/*skills div end*/

/*contact div start*/
.contact-div{
    /* border:2px solid; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    transform-style: preserve-3d;
    position: relative;
    transition:  box-shadow .75s ease-in-out;
    -webkit-transition: box-shadow 0.5s ease-in-out ;
    -moz-transition:  box-shadow 0.5s ease-in-out;
    -ms-transition: box-shadow 0.5s ease-in-out;
    -o-transition:  box-shadow 0.5s ease-in-out;
}
.contact-div:hover{
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.contact-div .contact-container .row .contact-header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #e2e2e2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding:1rem 0;
    /* border:2px solid #018d35; */
}
.contact-div .contact-container .row .contact-header .contact-header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: .8rem;
    /* border: 2px solid #0077b7; */

}
.contact-div .contact-container .row .contact-header .contact-header-left .contact-header-button{
    display: inline-block;
    width: .65rem;
    height: .65rem;
    background-color: #fff;
    border-radius: 10px;    
}
.contact-div .contact-container .row .contact-header .contact-header-left .contact-header-button:not(.contact-div .contact-container .row .contact-header .contact-header-left .contact-header-button:first-child){
    margin-left: .6rem;
}

.contact-div .contact-container .row .contact-header .contact-header-left .contact-header-button.close{
background: #ed1c6f;
}
.contact-div .contact-container .row .contact-header .contact-header-left .contact-header-button.maximize{
    background: #e8e925;
    
}
.contact-div .contact-container .row .contact-header .contact-header-left .contact-header-button.minimize{
    background: #74c54f;
}
.contact-div .contact-container .row .contact-header .contact-header-mid{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: #363636;
}

.contact-div .contact-container .row .contact-header .contact-header-rigth{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:.8rem;
    /* border:2px solid #c0392b; */
}
.contact-div .contact-container .row .contact-header .contact-header-rigth .contact-header-dot{
    display:inline-block;
    align-items: center;
    width: .4rem;
    height: .4rem;
    background-color: #474747;
    border-radius: 10px;
    
}
.contact-div .contact-container .row .contact-header .contact-header-rigth .contact-header-dot:not(.contact-div .contact-container .row .contact-header .contact-header-rigth .contact-header-dot:last-child){
    margin-right: .27rem;
}

.contact-div .contact-container .row .contact-body{
    background-color: #d1d1d1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
}
.contact-div .contact-container .row .contact-body .contact-body-left-item{
    /* border: 2px solid #b7003d; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-div .contact-container .row .contact-body .contact-body-left-item .contact-body-left-item-text{
    display: inline-flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid #0077b7; */
    margin-top: 2rem;
    margin-bottom: 1.6rem;
}
.contact-div .contact-container .row .contact-body .contact-body-left-item .contact-body-left-item-text:after{
    content: "";
    display: block;
    width: 47px;
    height: 4px;
    background-color: rgb(46, 46, 46);
}
.contact-div .contact-container .row .contact-body .contact-body-left-item .contact-body-left-item-text span{
    font-size: 2.5rem;
}

.contact-body-right-item #form-contact .contact-submit-button{
    display: flex;
    justify-content: end;
}
.contact-body-right-item #form-contact input,
.contact-body-right-item #form-contact textarea{
    border-radius: 12px;
    transition: all .5s ease-in-out;
    background-color: #c9c9c9;
    border: none;
    border-bottom: 2px solid #474747;
}
.contact-body-right-item #form-contact input:focus,
.contact-body-right-item #form-contact textarea:focus{
    -webkit-box-shadow: 0px 0px 22px 4px rgba(152,240,222,1);
    -moz-box-shadow: 0px 0px 22px 4px rgba(152,240,222,1);
    box-shadow: 0px 0px 22px 4px rgba(152,240,222,1);
}
.contact-body-right-item #form-contact .contact-submit-button button{
    outline: 1px solid #86868680;
    background-color: #c6ece5;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-weight: 700;
    letter-spacing: 0.11em;
    padding: .9rem .6rem;
    transition: all .5s ease-in-out;
}
.contact-body-right-item #form-contact .contact-submit-button button:hover{
    transform: scale(.995);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#message-count{
    transition: all .5s ease-in;
}
textarea {
    resize: none;
    
 }
 #textarea-div textarea{
    height: 8.6rem;
 }

@media (max-width:991.98px) {
    .social .social-ul .social-li a i{
        font-size: 2.5rem;
    }
    .edu-card{
        width: 75%;
    }
    .edu-card .row .card-body-div .card-body .card-text p{
        font-size: 1.019rem;
        transition: font-size .3s ease-out;
    }
    
}
@media (min-width:576px) AND (max-width:991.98px) {
    #foto-card .card{
        margin-bottom: 3rem;
        width: 15rem !important;
        height: 15rem !important;
        transition: width .5s ease-in-out, height .5s ease-in-out;
    }
    
}

  @media (max-width:767.98px) {
    header.bgImage .bgImage-sub{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    header.bgImage .bgImage-heading{
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    /* #logo{
        font-size: .50rem;
    } */
    #mainNavbar .navbar-brand{
        font-size: 1rem;
        transition: font-size 0.5s ease-in-out;
        -webkit-transition:font-size 0.5s ease-in-out ;
        -moz-transition: font-size 0.5s ease-in-out;
        -ms-transition:font-size 0.5s ease-in-out;
        -o-transition: font-size 0.5s ease-in-out;
    }
    #mainNavbar.navbar-scroll #logo {
        font-size: 1.05rem;
    }
    #textarea-div textarea{
        height: 12rem;
     }
}
/*lg devices under*/
@media (max-width:991.98px) {
    header.bgImage{
        padding-top: 7rem;
        padding-bottom: 3.5rem;
    }
    #mainNavbar .navbar-nav .nav-item .nav-link{
        color: #212529;
    }
}
@media (min-width:992px) {
    header.bgImage{
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    #mainNavbar.navbar-scroll #logo {
        font-size: 1.35rem;
    }
    #mainNavbar {
        padding-top: .9rem;
        padding-bottom: .9rem;
        border: none;
        background-color: transparent;
        transition: background-color 0.8s ease-in-out;
        transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
        -webkit-transition:padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out ;
        -moz-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
        -ms-transition:padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
        -o-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
    }
    #mainNavbar .navbar-brand{
        font-size: 1.6rem;
        transition: font-size 0.5s ease-in-out;
        -webkit-transition:font-size 0.5s ease-in-out ;
        -moz-transition: font-size 0.5s ease-in-out;
        -ms-transition:font-size 0.5s ease-in-out;
        -o-transition: font-size 0.5s ease-in-out;
    }
    #mainNavbar .navbar-nav .nav-item{
        margin-right: 1rem;
    }#mainNavbar .navbar-nav .nav-item:last-child{
        margin-right: 0;
    }

    .edu-card{
        width: 80%;
    }
}